.sidebarOptions {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.sidebarOptions:hover {
  background-color: #e0dede;
}
.sidebarOptions:active {
  background-color: lightgrey;
}
.sidebarOptions:active > .sidebarOptions__icon {
  color: red;
}
.sidebarOptions__icon {
  margin: 0 30px;
}
.sidebarOptions__title {
  font-size: 15px;
}
