.sidebarOptions {
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.sidebarOptions:hover {
  background-color: #999999;
}
.sidebarOptions:active {
  background-color: lightgrey;
}
.sidebarOptions__icon {
  margin: 0 30px;
}
.sidebarOptions__title {
  font-size: 15px;
}
